{% extends "template.html" %}


{% block body %}
	<div class="page-header">
		<h1>
			Analysis of {{ row.rowList }} <small>(Entered as: "{{ row.userSet }}")</small>
		</h1>
	</div>
<div class="row clearfix">
	<div class="col-md-6 column">	
	<h3>
		Row:
	</h3>
	<h4>
		{{ row.rowList }}
	</h4>	
	<h3>
		Adjacent Interval Series:
	</h3>
	<h4>
		{{ row.rowAISString }}
	</h4>	
	<h3>
		Discrete Sub-Trichords:
	</h3>
	<h4>
		{{ row.subTriChord1PrimeString }} -- {{ row.subTriChord2PrimeString }} -- {{ row.subTriChord3PrimeString }} -- {{ row.subTriChord4PrimeString }}
	</h4>	
	<h3>
		Discrete Sub-Tetrachords:
	</h3>
	<h4>
		{{ row.subTetraChord1PrimeString }} ----- {{ row.subTetraChord2PrimeString }} ----- {{ row.subTetraChord3PrimeString }}
	</h4>
	{% if row.isSymmetrical %}
	<h3>
		Row <strong>is</strong> Symmetrical.
	</h3>
	{% else %}
	<h3>
		Row <strong>is not</strong> Symmetrical.
	</h3>
	{% endif %}
	{% if row.isAllInterval %}
	<h3>
		Row <strong>is</strong> All-Interval.
	</h3>
	{% else %}
	<h3>
		Row <strong>is not</strong> All-Interval.
	</h3>
	{% endif %}		
	{% if row.triDerived %}
	<h3>
		Row is derived of the following discrete subset:
	</h3>
	<h4>
		{{ row.subTriChord1PrimeString }}
	</h4>
	{% endif %}
	{% if row.tetraDerived %}
	<h3>
		Row is derived of the following discrete subset:
	</h3>
	<h4>
		{{ row.subTetraChord1PrimeString }}
	</h4>
	{% endif %}
	<h3>
		Hexachord A:
	</h3>
	<h4>
		Set: {{ row.hexA }}
		<br>
		ICV: {{ row.hexAICVString }}
		<br>		
		IV:  {{ row.hexAIVString }}
	</h4>
	<h3>
		Hexachord B:
	</h3>
	<h4>
		Set: {{ row.hexB }}
		<br>
		ICV: {{ row.hexBICVString }}
		<br>		
		IV:  {{ row.hexBIVString }}
	</h4>	
	</div>
	<div class="col-md-6 column">
	<h3>
		Matrix:
	</h3>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
				<th>I</th>
			</tr>
		</thead>
		<tbody>
		{% for row in row.matrix %}
			<tr>
				<td><strong>P</strong></td>
				{% for element in row %}
				<td>{{ element }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		
		</tbody>
	</table>	
	<h3>
		Perform transformation on P0:
	</h3>	
	
	<!-- <form> role="form" action="/transform" method="GET"-->
		<div class="form-group">
	 <label>Transformation:</label><input class="form-control" id="transformation" name="transformation" type="text" placeholder="P5" onkeydown="if (event.keyCode == 13) document.getElementById('transformButton').click()">
	 <!--
	 <br/>
	 <button class="btn btn-success myButton">Transform</button>
	 <br/>
	 -->
	</div>		
	<!-- </form> -->
	<button class="btn btn-success myButton" id="transformButton">Transform</button>
<div class="getResponse"></div>	
	</div>
</div>
<div class="page-header">
		<h3>
			Analyse another set or row:
		</h3>
	</div>	
	
	<!-- <form role="form" action="/analyse" method="GET"> -->
		<div class="form-group"> 
	 <label>Set/Tone Row:</label><input class="form-control" id="set" name="set" type="text" placeholder="0123456789TE" onkeydown="if (event.keyCode == 13) document.getElementById('analyseButton').click()">
	 
	 <br/>
		<button class="btn btn-success analyseButton" id="analyseButton">Analyse</button>
	 <br/>
	</div>
		
	<!-- </form> -->



	
<script>
//Listen when a button, with a class of "myButton", is clicked
//You can use any jQuery/JavaScript event that you'd like to trigger the call
$('.myButton').click(function() {
//Send the AJAX call to the server
  $.ajax({
  //The URL to process the request
    'url' : '/transform',
  //The type of request, also known as the "method" in HTML forms
  //Can be 'GET' or 'POST'
    'type' : 'GET',
  //Any post-data/get-data parameters
  //This is optional
    'data' : {
      'transformation' : document.getElementById('transformation').value ,
      
    },
  //The response from the server
    'success' : function(data) {
    //You can use any jQuery/JavaScript here!!!
      if (data != "fail") {
		var string = "<h4>" + data + "</h4>"
		$(".getResponse").append(string);
      }
    }
  });
});	
</script>

<script>
$('.analyseButton').click(function() {
	var url = "/analyse?set=" + document.getElementById('set').value;
	window.location.href = url;
	
});
</script>
	
	

{% endblock %}
	
	
	